body {
  background-color: #3498db;
  font-family: Arial, sans-serif;
  place-items: center;
  font-size: 24px;
  margin: 0;
  padding: 0;
  height: 2500px; /* スクロールするためにページの高さを増やします */
}

/* スクロールアニメーションの初期状態 */
.scroll_animation_1,
.scroll_animation_2
{
  width: 100px;
  height: 100px;
  margin: 32px auto;
  background-color: #1706b2;
  color: #06b234;
  align-items: center;
  position: relative;
  left: -500px;
  opacity: 0; /* 初期状態で不透明度を0に設定 */
  transition: all 0.5s ease-in-out;
}
.scroll_animation_3 {
  width: auto;
  height: auto;
  margin: 32px auto;
  background-color: #1706b2;
  color: #06b234;
  align-items: center;
  position: relative;
  right: -500px;
  opacity: 0; /* 初期状態で不透明度を0に設定 */
  transition: all 0.5s ease-in-out;
}

/* スクロールされたときに表示されるアニメーション */
.scroll_animation_1.active,
.scroll_animation_2.active {
  left: 0;
  opacity: 1;
  /* ここに他のアニメーションのスタイルを追加する */
}
p,
.scroll_animation_3.active{
  right: 0;
  opacity: 1;

  animation-duration: 3s;
  animation-name: slidein;
  /* animation-iteration-count: infinite;   */
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  
  to {
    margin-left: 0%;
    width: 100%;
  }
}
